@import '../../styles/partials/colors';

.rectangle {
    box-sizing: border-box;
    width: 280px;
    border: 1px solid $blue-b200;
    position: absolute;
    left: -2.5rem;
    transform: translate(247, 20);
    transition: transform ease-in-out;
}

.divider {
    height: 1px;
    width: 263px;
    background-color: $blue-b200;
}

.actions {
    letter-spacing: 0;
    line-height: 25px;
}