$teal-t100: rgba(244, 250, 251, 1);
$teal-t200: rgba(235, 249, 250, 1);
$teal-t300: rgba(202, 232, 235, 1);
$teal-t400: rgba(0, 163, 173, 1);
$teal-t500: rgba(0, 117, 126, 1);
$teal-t600: rgba(1, 79, 85, 1);
$yellow-y100: rgba(254, 249, 230, 1);
$yellow-y200: rgba(252, 243, 210, 1);
$yellow-y300: rgba(251, 231, 157, 1);
$yellow-y400: rgba(250, 200, 8, 1);
$aqua-a100: rgba(231, 250, 255, 1);
$aqua-a200: rgba(216, 247, 252, 1);
$aqua-a300: rgba(153, 232, 247, 1);
$aqua-a400: rgba(0, 214, 255, 1);
$green-g100: rgba(242, 251, 233, 1);
$green-g200: rgba(234, 252, 213, 1);
$green-g300: rgba(190, 233, 144, 1);
$green-g400: rgba(126, 211, 33, 1);
$jade-j100: rgba(237, 244, 246, 1);
$jade-j200: rgba(227, 243, 249, 1);
$jade-j300: rgba(160, 209, 225, 1);
$jade-j400: rgba(0, 98, 128, 1);
$orange-O100: rgba(253, 245, 236, 1);
$orange-O200: rgba(253, 237, 218, 1);
$orange-O300: rgba(249, 208, 161, 1);
$orange-O400: rgba(244, 162, 68, 1);
$pink-p100: rgba(254, 244, 250, 1);
$pink-p200: rgba(255, 233, 246, 1);
$pink-p300: rgba(249, 174, 218, 1);
$pink-p400: rgba(236, 0, 140, 1);
$purple-u100: rgba(239, 240, 253, 1);
$purple-u200: rgba(232, 233, 255, 1);
$purple-u300: rgba(170, 173, 220, 1);
$purple-u400: rgba(67, 71, 145, 1);
$red-r100: rgba(253, 235, 236, 1);
$red-r200: rgba(252, 219, 220, 1);
$red-r300: rgba(248, 172, 176, 1);
$red-r400: rgba(238, 56, 64, 1);
$violet-v100: rgba(250, 244, 253, 1);
$violet-v200: rgba(246, 226, 251, 1);
$violet-v300: rgba(202, 159, 212, 1);
$violet-v400: rgba(153, 70, 171, 1);
$grey-g000: rgba(227, 233, 236, 1);
$grey-g100: rgba(249, 249, 249, 1);
$grey-g200: rgba(243, 243, 243, 1);
$grey-g300: rgba(235, 236, 235, 1);
$grey-g400: rgba(225, 226, 225, 1);
$grey-g500: rgba(182, 182, 182, 1);
$grey-g600: rgba(104, 104, 104, 1);
$grey-g700: rgba(172, 175, 178, 1);
$grey-g800: rgba(42, 49, 65, 1);
$black-b400: rgba(0, 0, 0, 1);
$white-w400: rgba(255, 255, 255, 1);
$white-w100: rgba(217, 218, 235, 1);
$blue-b100: rgba(138, 180, 248, 1);
$blue-b200: rgba(209, 215, 218, 1);