//screen sizes
$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;

//control sizes
$inputHeight: 34px;
$radioSize: 25px;
$btnHeight: 40px;
$btnWidth: 240px;
$smBtnWidth: 102px;