<div class="error-page-container">
    <div class="error-page text-15 mt-4">
        <div class="text-20">SORRY!</div>
        <div class="teal-bold mt-2 mb-4">{{errorTitle}}</div>
        <div>{{errorMessage}}</div>
        <div class="pt-1">{{contactMessage}}</div>
        <div class="pt-2">Take me to <span class="vr-line">|</span>
            <span (click)="goToHomePage()">
                <img src="/assets/images/house.svg" alt="home-icon" class="home-icon">
            </span><span class="vr-line">|</span>
        </div>
    </div>
</div>