@import "../../styles/partials/colors";
@import "../../styles/partials/variables";

:host {
    width: 100%;
}

.panel {
    cursor: pointer;
    float: right;
}

.input-group {
    flex: 1 1 49%
}

.details-value {
    padding: 5px;
    min-height: 34px;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-flow: column;
    .form-section {
        margin-top: 30px;
        margin-bottom: 30px;

        .form-header {
            margin-top: 10px;

            .styleguide-divider {
                border-color: $grey-g400;
            }
        }

        .form-content {
            margin-top: 10px;

            .flex-row,
            .form-row {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .input-group {
                    display: inline-block;
                    flex-direction: column;
                    label {
                        margin-top: 1rem;
                        margin-bottom: 0;
                    }

                    .form-control {
                        margin: .5rem 0 !important;
                        &focus {
                            box-shadow: none;
                        }
                    }

                    input {
                        height: $inputHeight;
                    }

                    .input-loader {
                        position: absolute;
                        top: 45px;
                        right: 70px;
                        margin-top: 0.5 rem;
                    }

                    .material-icons.icons.right {
                        position: absolute;
                        float: right;
                        right: 0;
                        padding-top: 6px;
                        padding-right: 5px;
                        padding-left: 5px;
                        height: 34px;
                        cursor: pointer;
                        border-top: none;
                        border-bottom: none;
                        border-right: none;
                        margin-top: 0.5 rem;
                    }

                    .flex-radio {
                        display: flex;

                        // provide width to radio items in parent form as that depends on number of items and layout
                        .flex-radio-item {
                            display: flex;
                            gap: 15px;
                            height: $radioSize;

                            input {
                                width: $radioSize;
                                height: $radioSize;
                            }

                            span {
                                margin-top: 2px;
                            }
                        }
                    }

                    .validation-error {
                        margin-top: 10px;
                    }

                    .form-control[read-only],
                    .form-control:disabled {
                        background-color: $white-w400;
                    }
                }
            }
        }
    }

    .form-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.dialog {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    padding: 10px;

    .information {
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        padding: 15px;
    }

    .form-actions {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
    }
}